@font-face {
  font-family: "Futura";
  src: url(OPTIFuturaDemiBold.otf) format("truetype");
}

body {
  background: #000; /*#b5a48c;*/
  color: #fefefe;
  font-family: helvetica, arial;
  margin: 0;
  border: 10px solid black;
}
 @media only screen and (max-width: 820px) {
    body {
      display: flex;
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;
  	}
  }

header {
  background: #fff2e6;
  color: #000;
  font-family: "Futura";
}
  header section {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
  }
    header section img {
      max-width: 80px;
      margin-bottom: -80px;
      z-index: 2;
    }
      @media only screen and (max-width: 820px) {
        header section img { max-width: 200px; }
      }

    header section h2 {
      padding: 0;
      color: #fff2e6;  
      font-size: 1em;
    }
      @media only screen and (max-width: 820px) {
        header section h2 { font-size: 2em; }
      }


    header a {
      text-decoration: none;
    }

h1, h2, h3, h4 {
  padding: 0 15px;
  font-family: "Futura";
}

h1 {
  font-size: 3.4em;
  margin: 0;
  padding-top: 0;
  text-align: center;
}
  @media only screen and (max-width: 820px) {
    h1 { font-size: 7em; }
  }

h3 {
  font-size: 2em;
}

p {
 /* max-width: 550px; // Desktop only */
  line-height: 1.5em;
  padding: 0 15px;
}

.about {
 /* display: flex; // Desktop Only */
/*padding: 0 15px 30px;*/
  z-index: 0;
}

img {
  max-width: 100%;
}

.about>section {
  /*padding: 2em; // Desktop */
}
  
.bright {
  background: #fff2e6;
  /*max-width: 50vw; // Desktop */
  color: #000;
  padding-bottom: 30px; 
}

.show {
  background: #000;
  /* max-width: 50vw; // Desktop */
  padding-bottom: 10px; 
}
   .show h3 {
     margin-top: -20px;
   }

  .schedule section {
    margin-top: 10px;
    padding: 10px 0;
  }

.schedule h3 {
  margin-top: 30px;
}

summary h4 { 
  font-size: inherit; 
  display: inline-block; 
}

summary { 
  list-style-type: '▼'; 
  margin: 0;
  padding: 0 15px; 
} 

details {
  padding: 0;
  margin: 0;
}

details p {
  font-size: 14px;
}

.challenges {
  margin: 2em 0;
}
  .challenges p {
    font-size: 12px;
  }

details[open] > summary { list-style-type: '▲'; }
summary::marker { padding-right: 10px; }

table { 
  width: 100%; 
  border-collapse: collapse;
  font-size: 14px;
}

th { 
  text-align: left; 
}

tr, td, th {
  padding: 10px 15px;
}

tr:nth-child(even) { 
  background: rgba(0, 0, 0, 0.5); 
}

.beginner { background: #414e45; /* green */ }
.recreational { background: #44414e; /* blue */ }
.professional { background: #4e4143; /* red */ }
.elite { background: #493131; /* redder */ }
.contact { background: #63233b; }

footer {
  width: 100%;
  margin: 30px 0 0;
  font-size: 12px;
  text-align: center;
}
  footer .footer-graphics {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
    footer section img {
      max-width: 45%;
    }
      footer section .wappen {
        max-width: 80%;
      }

footer p {
  display: block;
  margin: 25px 0 0;
  padding: 15px;
  background: #44414e; /* blue */
}

a {
  color: inherit;
}
