
body {
  background: #b5a48c;
  font-family: helvetica, arial;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 2em;
}

p {
  max-width: 550px;
  line-height: 1.5em;
}

.sport {
  background: #b5a48c;
}

.show {
  background: #000;
  color: #fefefe;
}
