
body {
  background: #b5a48c;
  font-family: helvetica, arial;
}

h1 {
  font-size: 40px;
}

p {
  max-width: 550px;
}

.sport {
  background: #b5a48c;
}

.show {
  background: #000;
  color: #fefefe;
}
