@font-face {
  font-family: "Futura";
  src: url(OPTIFuturaDemiBold.otf) format("truetype");
}

body {
  background: #000; /*#b5a48c;*/
  color: #fefefe;
  font-family: helvetica, arial;
  margin: 0;
  border: 10px solid black;
}

header {
  background: #fff2e6;
  color: #000;
  font-family: "Futura";
}

h1, h2, h3, h4 {
  padding: 0 15px;
  font-family: "Futura";
}

h1 {
  font-size: 3.5em;
  margin: 0;
  padding-top: 0;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 2em;
}

p {
 /* max-width: 550px; // Desktop only */
  line-height: 1.5em;
  padding: 0 15px;
}

.about {
 /* display: flex; // Desktop Only */
/*padding: 0 15px 30px;*/
}

img {
  max-width: 100%;
}

.about>section {
  /*padding: 2em; // Desktop */
}
  
.bright {
  background: #fff2e6;
  /*max-width: 50vw; // Desktop */
  color: #000;
  padding-bottom: 30px; 
}

.show {
  background: #000;
  /* max-width: 50vw; // Desktop */
  padding-bottom: 10px; 
}
   .show h3 {
     margin-top: -20px;
   }

  .schedule section {
    margin-top: 10px;
    padding: 10px 0 20px;
  }

.schedule h3 {
  margin-top: 30px;
}

summary h4 { font-size: inherit; display: inline-block; }

summary { list-style-type: '▼'; padding: 0 15px; } 
details[open] > summary { list-style-type: '▲'; }
summary::marker { padding-right: 10px; }

th { text-align: left; }
tr:nth-child(even) { background-color: rgba(0, 0, 0, 0.5); }


.beginner { background: #414e45; /* green */ }
.recreational { background: #44414e; /* blue */ }
.professional { background: #4e4143; /* red */ }
.elite { background: #493131; /* redder */ }
.where { background: #63233b; }
.contact { background: #493c31; }

footer {
  margin: 30px 0;
  font-size: 12px;
  text-align: right;
}

a {
  color: inherit;
}
